{block content}
<div class="row">
    <div class="col-sm-8">
        {control editForm}
    </div>
</div>
{/block}
{block modal}
<div class="row">
    <div class="col-sm-8">
        {control editForm}
    </div>
</div>
<script>
    //široký modal

</script>
{/block}