{block modal}
{snippet detailModal}
    {control filterForm}
{/snippet}
<style>
    .modal-dialog .aacomplete{
        border-radius: 5px;
        padding: 7px;
        border-color: #ccc;
    }
    i[data-handle="close"]{
        cursor: pointer;
    }
</style>
{/block}
